table.main-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    margin-top: 20px;

    tbody {
        border: 1px solid #e3e8ed;
        border-radius: 6px;
    }

    tr {
        border-bottom: 1px solid #e3e8ed;
        border-radius: 4px;
    }

    th {
        padding: 0 16px 8px;
        font-weight: 400;
        color: rgb(105 115 134);
        text-transform: uppercase;
    }

    td {
        padding: 14px;
        font-weight: 400;
    }

    tr:nth-of-type(2n) {
        background-color: #f7fafc;
    }
}

.warning {
    display: flex;
    border: 0.1px solid #ddd;
    background-color: #fbf9e9;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 30px;

    div {
        position: relative;
        padding-left: 12px;
    }

    div::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        left: -10px;
        top: 8px;
        background: url(../images/svgs/warning.svg);
        background-repeat: no-repeat;
    }

    // div::before {
    //     content: '';
    //     position: absolute;
    //     width: 12px;
    //     height: 12px;
    //     left: -10px;
    //     top: 8px;
    //     background: url(../images/svgs/warning.svg);
    //     background-repeat: no-repeat;

    //     svg {
    //         color: red;
    //     }
    // }

    //   .footer-lines {
    //   }

    i {
        color: red;
        font-size: 14px;
        margin-right: 7px;
        padding-top: 2px;
    }
}

.method-example {
    pre.lang-json {
    }
}

// "Menlo","Consolas",monospace
.code-section {
    /* Style the tab */
    margin-bottom: 16px 0;
    border-radius: 10px;
    position: relative;

    .code-section-header {
        display: flex;

        .code-tabs {
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            overflow-x: auto;
            overflow-y: hidden;
            border: 0 solid rgb(60 66 87);
            background-color: #192652;
            border: none;
            border-bottom: #192652;
            padding-left: 14px;
            flex-grow: 1;

            /* Style the buttons that are used to open the tab content */
            button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 8px 9px;
                transition: 0.3s;
            }

            button.active {
                color: #ccc;
            }

            .tablinks {
                font-family: inherit;
                font-size: 12px;
                font-weight: 500;
                color: rgb(163 172 185);
            }
        }

        .copy-icon {
            position: relative;
            background-color: #192652;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 39px;

            button.copy-code-btn {
                background: url(../images/svgs/copy-btn.svg);
                background-repeat: no-repeat;
                border: none;
                color: white;
                background-color: white;
                width: 18px;
                height: 21px;
                vertical-align: center;
                position: absolute;
                right: 10;
            }

            button.copy-code-btn:active {
                color: #ccc;
            }
        }
    }
}

.copied-popup {
    position: absolute;
    bottom: 24px;
    right: 12px;
    width: 72px;
    height: 20px;

    /* padding: 18px; */
    padding: 0 11px;
    border-radius: 4px;
    color: #a3acb9;
    z-index: 1;
    background-color: #2e4c7e;
    font-size: 13px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Ubuntu, sans-serif;
}

// .line-numbers {
//     top: 62px;
//     left: 29px;
//     width: 16px;
//     position: absolute;
//     color: white;
//     z-index: 1;
//     font-family: 'Roboto Mono', monospace;
//     font-size: 13px;

//     span::before {
//         counter-increment: code-line-numbers;
//         content: counter(code-line-numbers);
//     }

//     span:nth-of-type(1)::before {
//         content: '$';
//     }

//     span:nth-child(n + 2)::before {
//         content: '>';
//     }
// }

/* Style the tab content */
.tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    background-color: #202e63;
    border-top: none;
    border: none;
    color: white;
    display: none;
    font-family: 'Roboto Mono', monospace;
    padding: 6px 12px;
    position: relative;

    // padding-left: 50px;

    pre {
        font-size: 13px;
        margin-bottom: 0 !important;

        > code {
            background-color: #202e63;

            // position: relative;

            // span::before {
            //     counter-increment: code-line-numbers;
            //     content: counter(code-line-numbers);
            //     position: absolute;
            //     color: white;
            //     z-index: 1;
            //     font-family: 'Roboto Mono', monospace;
            //     font-size: 13px;
            // }
        }

        code.hljs {
            padding: 0 !important;
            overflow-x: unset !important;
        }
    }
}

.method-example {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    border-radius: 10px 10px 0 0;

    .method-example-top-bar {
        background-color: #e3e8ee;
        padding: 10px 12px;
        font-weight: 500;
        font-size: 12px;
        color: #697485;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        border-radius: 10px 10px 0 0;
    }
}

.more-tabs {
    border-top: 1.1000000000000014px solid #ddd;
    margin: 15px 1px 4px 7px;
    padding: 0 0 10px;

    /* border-bottom: 1.1000000000000014px solid #ddd; */
    flex-direction: column;

    /* justify-content: flex-start; */
    align-items: flex-start;

    .more-tabs-header {
        margin: 16px 14px 4px 1px;
        font-weight: 500;
    }

    button.active {
        color: #5469d4;
    }

    button {
        margin: 1px 25px 2px 4px;
    }
}

@media (max-width: 767px) {
    .more-tabs {
        display: flex;
    }
}
@media (min-width: 768px) {
    .more-tabs {
        display: none;
    }
}
