table.main-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    margin-top: 20px;

    tbody {
        border: 1px solid #e3e8ed;
        border-radius: 6px;
    }

    tr {
        border-bottom: 1px solid #e3e8ed;
        border-radius: 4px;
    }

    th {
        padding: 0 16px 8px;
        font-weight: 400;
        color: rgb(105 115 134);
        text-transform: uppercase;
    }

    td {
        padding: 14px;
        font-weight: 400;
    }

    tr:nth-of-type(2n) {
        background-color: #f7fafc;
    }
}

.warning {
    display: flex;
    border: 0.1px solid #ddd;
    background-color: #fbf9e9;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    padding: 12px 20px;
    margin-top: 20px;
    margin-bottom: 30px;

    .icon-holder {
        padding-left: 12px;
        flex: 0 0 5%;
        max-width: 5%;
    }

    .alert-text {
        padding-left: 12px;
        flex: 0 0 95%;
        max-width: 95%;
    }

    // div::before {
    //     content: '';
    //     position: absolute;
    //     width: 12px;
    //     height: 12px;
    //     left: -10px;
    //     top: 8px;
    //     background: url(../images/svgs/warning.svg);
    //     background-repeat: no-repeat;

    //     svg {
    //         color: red;
    //     }
    // }

    //   .footer-lines {
    //   }

    i {
        color: red;
        font-size: 14px;
        margin-right: 7px;
        padding-top: 2px;
    }
}
